.directory {
  display: flex;
  height: 100%;

  .content {
    min-width: 580px;
    height: 100%;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;
      padding: 0 12px;
      height: 20px;

      h4 {
        font-size: 12px;
        font-weight: 700;
      }

      .path {
        display: flex;
        justify-content: center;
        align-items: center;

        .back {
          color: #06a7ff;
          font-size: 12px;
          cursor: pointer;
        }

        .path-unit {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;

          .sign {
            margin: 0 8px;
            color: #c4d8f4;
            cursor: default;
            transform: translateY(-2px);
          }

          .text {
            display: inline-block;
            color: #06a7ff;
            cursor: pointer;
            max-width: 90px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        color: #818999;
        cursor: pointer;

        .icon {
          font-size: 10px;
          margin-right: 6px;
        }
      }
    }

    //含有antd样式修改
    .table {
      min-width: 600px;
      padding-left: 2px;

      th {
        font-size: 14px;
        font-weight: 700;
        color: #818999;
        background-color: #fff;

        &::before {
          display: none;
        }
      }

      td {
        padding: 5px 16px;
      }

      .info {
        font-size: 14px;

        @media screen and (max-width: 1200px) {
          font-size: 12px;
        }
      }

      //antd-table实现hover原理
      .ant-table-cell-row-hover {
        background-color: #f2faff;

        .text {
          max-width: calc(100% - 120px) !important;
        }

        .date-selection .button-group {
          display: flex;
        }

        .info {
          visibility: hidden;
        }
      }

      .file-selection {
        white-space: nowrap;
        cursor: pointer;

        .text {
          display: inline-block;
          height: 40px;
          max-width: calc(100% - 20px);
          line-height: 40px;
          padding-left: 16px;
          vertical-align: middle;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 12px;
          font-weight: 500;

          &:hover {
            color: #06a7ff;
          }
        }

        .input {
          display: inline-block;
          height: 40px;
          line-height: 40px;
          padding-left: 10px;
          vertical-align: middle;

          .ant-input {
            width: auto;
            height: 24px;
            font-size: 12px;
            font-weight: 500;
            padding-left: 6px;
          }

          .button-group {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding-left: 5px;

            .button {
              width: 24px;
              height: 24px;
              margin: 0 2px;
              background: #06a7ff;
              border-color: #06a7ff;
            }
          }
        }
      }

      .date-selection {
        position: relative;

        .button-group {
          position: absolute;
          top: 50%;
          right: 100%;
          transform: translateY(-50%);
          display: none;
          justify-content: center;
          align-items: center;

          .button {
            font-size: 16px;
            padding: 0 4px;
            color: #06a7ff;
            cursor: pointer;
          }
        }
      }
    }
  }

  .preview {
    max-width: 320px;
    min-width: 300px;
    border-left: 1px solid #f0f0f0;

    .search-wrapper {
      padding: 4px 8px;

      .ant-input-search {
        padding: 0 5px;
        border: 1px solid #f1f3f8;
        border-radius: 18px;
        overflow: hidden;
        background-color: #f1f3f8;

        &:hover {
          border-color: #06a7ff;
        }

        .ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button,
        .ant-input {
          border: none;
          box-shadow: none;
          background-color: #f1f3f8;
          caret-color: #06a7ff;
          font-size: 12px;
          height: 32px;
          font-weight: 500;
          // box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
        }

        .ant-input::placeholder {
          font-size: 12px;
        }

        .ant-input-search-button::after {
          display: none;
        }
      }
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;
      padding: 0 12px;
      height: 42px;

      h4 {
        font-size: 12px;
        font-weight: 700;
      }

      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        color: #818999;
        cursor: pointer;

        .icon {
          font-size: 10px;
          margin-right: 6px;
        }
      }
    }

    .detail-wrapper {
      position: relative;

      .empty {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);

        .ant-image {
          display: block;
          margin: 0 auto;
        }

        p {
          white-space: nowrap;
          margin: 5px 0 0 0;
          color: #818999;
          font-weight: 400;
          font-size: 12px;
        }
      }

      .folder-preview {

        .preview-title {
          padding: 0 24px 8px 24px;
          border-bottom: 1px solid #f1f2f4;

          .text {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: 700;
            vertical-align: middle;
            padding-left: 12px;
          }
        }

        .list-item {

          .file-infomation {
            padding: 5px 24px;
            white-space: nowrap;
            overflow: hidden;

            .text {
              width: 240px;
              height: 40px;
              line-height: 40px;
              padding-left: 12px;
              display: inline-block;
              vertical-align: middle;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }

      .detail {

        .image-box {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 140px;
          padding: 12px;
          // box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16)
        }

        .information {
          padding: 8px 16px;

          h4 {
            font-size: 14px;
            color: #454d5a;
            font-weight: 600;
          }

          li {
            list-style: none;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 500;
            color: #878c9c;
          }
        }
      }
    }
  }

  .right-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);

    .menu-item {
      padding-left: 12px;
      height: 30px;
      line-height: 30px;
      min-width: 130px;
      font-size: 12px;
      color: #03081a;
      cursor: pointer;

      &:hover {
        background-color: #f5f6fa
      }

      span {
        display: inline-block;
        margin-left: 8px;
      }
    }
  }
}