.directory {
  display: flex;
  height: 100%;

  .content {
    min-width: 500px;

    .tools {
      display: flex;
      padding: 5px 10px;

      .upload {
        background-color: #40a9ff;

        b {
          margin-left: 5px;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        background-color: #e6f7ff;
        border-radius: 15px;
        overflow: hidden;

        .button {
          position: relative;
          padding: 0 12px;

          &::after {
            position: absolute;
            content: '|';
            color: #bae7ff;
            right: -3px;
          }

          button {
            border: 0;
            background-color: #e6f7ff;
            font-weight: 700;
            color: #06a7ff;
            cursor: pointer;
          }

          .icon {
            margin-right: 5px;
          }
        }
      }
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;
      padding: 0 12px;

      h4 {
        font-size: 12px;
        font-weight: 700;
      }

      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        color: #818999;
        cursor: pointer;

        .icon {
          font-size: 10px;
          margin-right: 6px;
        }
      }
    }

    //含有antd样式修改
    .table {
      padding-left: 2px;

      th {
        font-size: 14px;
        font-weight: 700;
        color: #818999;
        background-color: #fff;

        &::before {
          display: none;
        }
      }

      td {
        padding: 5px 16px;
      }

      //antd-table实现hover原理
      .ant-table-cell-row-hover {
        background-color: #f2faff;

        .text {
          max-width: calc(100% - 120px);
        }

        .button-group {
          display: flex !important;
        }

        .info {
          visibility: hidden;
        }
      }

      .file-selection {
        cursor: pointer;

        .text {
          display: inline-block;
          height: 40px;
          line-height: 40px;
          padding-left: 12px;
          vertical-align: middle;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          &:hover {
            color: #06a7ff;
          }
        }
      }

      .date-selection {
        position: relative;

        .button-group {
          position: absolute;
          top: 50%;
          right: 100%;
          transform: translateY(-50%);
          display: none;
          justify-content: center;
          align-items: center;

          .button {
            font-size: 16px;
            padding: 0 4px;
            color: #06a7ff;
            cursor: pointer;
          }
        }
      }
    }
  }

  .preview {
    width: 360px;
    border-left: 1px solid #f0f0f0;

    .search-wrapper {
      padding: 4px 8px;

      .ant-input-search {
        padding: 0 5px;
        border: 1px solid #f1f3f8;
        border-radius: 18px;
        overflow: hidden;
        background-color: #f1f3f8;

        &:hover {
          border-color: #06a7ff;
        }

        .ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button,
        .ant-input {
          border: none;
          box-shadow: none;
          background-color: #f1f3f8;
          caret-color: #06a7ff;
          font-size: 12px;
          height: 32px;
          font-weight: 500;
          // box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
        }

        .ant-input::placeholder {
          font-size: 12px;
        }

        .ant-input-search-button::after {
          display: none;
        }
      }
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;
      padding: 0 12px;

      h4 {
        font-size: 12px;
        font-weight: 700;
      }

      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        color: #818999;
        cursor: pointer;

        .icon {
          font-size: 10px;
          margin-right: 6px;
        }
      }
    }

    .detail-wrapper {
      position: relative;

      .empty {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);

        .ant-image {
          display: block;
          margin: 0 auto;
        }

        p {
          white-space: nowrap;
          margin: 5px 0 0 0;
          color: #818999;
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
  }

  .right-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);

    .menu-item {
      padding-left: 12px;
      height: 30px;
      line-height: 30px;
      min-width: 130px;
      font-size: 12px;
      color: #03081a;
      cursor: pointer;

      &:hover {
        background-color: #f5f6fa
      }

      span {
        display: inline-block;
        margin-left: 8px;
      }
    }
  }
}