.home {
  min-width: 1080px;
  min-height: 100vh;

  .layout {
    display: flex;
    margin-top: 10px;
    height: calc(100vh - 90px);

    .slider {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 200px;
      margin-left: 10px;
      padding: 5px 10px;

      .progress {
        margin-bottom: 20px;
        padding: 0 16px;

        .info {
          padding: 0 2px;
          color: #afb3bf;
        }
      }

      //重写antd-menu样式
      .ant-menu-inline .ant-menu-item-selected::after {
        display: none;
      }
    }

    .content {
      width: calc(100vw - 210px);
      flex-grow: 1;
    }
  }
}