.navigation {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 5px;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 6%);

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;

    h1 {
      padding: 0 5px;
    }
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 750px) {
      display: none;
    }

    h2 {
      padding: 0 12px;
      font-style: italic;
      cursor: default;
    }

    .tools {
      margin-right: 100px;

      .icon {
        cursor: pointer;
        font-size: 18px;

        &:hover {
          color: #40a9ff;
        }
      }
    }
  }

  .profile-mobile {
    margin-right: 50px;

    @media screen and (min-width: 750px) {
      display: none;
    }
  }
}

.upload-dropdown {
  width: 400px;
  height: 320px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
  border-radius: 8px;
  background: #fff;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #f4f4f4;
    height: 40px;

    p {
      margin: 0;
      color: #878c9c;
      letter-spacing: 0;
      font-size: 12px;
    }

    h2 {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .content {
    max-height: 280px;
    overflow-y: auto;

    .tips {
      text-align: center;
      color: #afb3bf;
      font-size: 10px;
      margin: 0;
    }

    .file {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f2f6fd;
      height: 72px;
      padding: 5px;

      .file-info {
        display: flex;

        h4 {
          font-size: 14px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .data {
          width: 240px;
          margin-left: 10px;
          padding: 5px 0;

          .status {
            display: flex;
            justify-content: space-between;
            font-size: 12px;

            .size, .waiting {
              color: #878c9c;
            }

            .speed {
              color: #06a7ff;
            }
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;

        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e6f7ff;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          cursor: pointer;

          .icon {
            color: #06a7ff;
          }
        }
      }

      .ant-image {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.drawer {

  .drawer-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 24px;
    background-color: #fafafa;
    margin-bottom: 20px;

    .drawer-info {
      margin-left: 20px;
      flex-grow: 1;

      h2 {
        font-style: italic;
      }
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 10px 20px;
    margin: 0;
    font-size: 18px;

    .icon {
      font-size: 20px;
      margin-right: 12px;
    }
  }
}